html, body, h1, a, button, i, div, h2, input, span {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Comfortaa', cursive;
}

.left-header {
  position: fixed;
  left: 40px;
  top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(112, 1, 39, .4);
  border-radius: 20px;
  background-color: rgba(112, 1, 39);
  padding:5px;
}

.subtitle {
  font-size: 16px;
  margin-bottom: 15px;
}

.logos {
  display: flex;
  align-items: center;
  color: #800000;
  margin-top: -5px;
  margin-bottom: 20px;
}

.fa:hover {
  background: #DECBC6;
  border-radius: 25%;
}


.fa-github {
  margin-right: 20px;
}

.color-choice {
  text-transform: none;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  margin-top:15px;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

#canvas {
  background-color: #f8fdff;
  padding-left: 0;
  border-radius: 25px;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#click-message {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
}

#click-message-two {
  position: fixed;
  width: 500px;
  height: 200px;
  top: 57%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -150px; /* Negative half of width. */
}

.temp-bar {
  margin-right: 15px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drop {
  display: flex;
  margin-top: -2px;
  align-items: baseline;
}

#drop-count {
  width: 51px;
  margin-right:4px;
  text-align: center;
  font-size: 16px;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  background-color: #eae8e6;
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.small-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-btn {
  font-size: 12px;
  padding: 5px;
  vertical-align: middle;
  margin-top: 8px;
  border: 1px solid #9e9e9e;
  border-radius: 25px;
  cursor: pointer;
  color: #800000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.small-btn:hover {
  background: #DECBC6;
}

.color-choice {
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 30px;
  width: 240px;
  overflow: hidden;
  background: transparent;
  border: none;
  font-size: 12px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #eae8e6;
}

.color-choice select {
  background: transparent;
  border: none;
  height: 30px;
  width: 240px;
  padding: 5px;
  font-size: 12px;
}
