.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 15px;
  margin-top: 30px;
}

.logos {
  display: flex;
  align-items: center;
  color: #0015D5;
}

.fa-github {
  margin-right: 20px;
}

#color {
  margin-top: 10px;
}

#canvas {
  background-color: #e7fafe;
  padding-left: 0;
  border-radius: 25px;
  border-left: 1px solid darkgoldenrod;
  border-right: 1px solid darkgoldenrod;
  border-bottom: 1px solid darkgoldenrod;

  margin-top: 35px;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 16px;
  padding: 5px;
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #9e9e9e;
  border-radius: 25px;
  cursor: pointer;
  color: #1c2021;
  background-color: #53d0ea;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn:hover {
  background: #2cafc9;
}

.small-btn {
  font-size: 12px;
  padding: 5px;
  vertical-align: middle;
  margin-top: 20px;
  border: 1px solid #9e9e9e;
  border-radius: 25px;
  cursor: pointer;
  color: #1c2021;
  background-color: #86d4e4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.small-btn:hover {
  background: #2cafc9;
}

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Comfortaa', cursive;
}
